<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>

      <ul class="list-group">
        
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ odd }}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ even }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              *ngFor="let even of evenNumbers"
              [ngClass]="{odd: even % 2 !== 0}"
              [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">
              {{ even }}
            </li>
          </div>
        </ng-template> -->

        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ even }}
          </li>
        </div>
        <!-- <ng-template appUnless [unless]="onlyOdd">
          <div>
            <li
              class="list-group-item"
              *ngFor="let even of evenNumbers"
              [ngClass]="{odd: even % 2 !== 0}"
              [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">
              {{ even }}
            </li>
          </div>
        </ng-template> -->

      </ul>

      <p appBasicHighlight>Style me with basic highlight directive!</p>

      <!-- <p 
        appBetterHighlight
        [defaultColor]="'yellow'"
        [highlightColor]="'pink'">Style me with better highlight directive 1111111111!</p> -->
        
      <!-- <p 
        appBetterHighlight
        [defaultColor]="'yellow'"
        [appBetterHighlight]="'pink'">Style me with better highlight directive 22222222222!</p> -->
      <!-- <p 
        
        [defaultColor]="'yellow'"
        [appBetterHighlight]="'pink'">Style me with better highlight directive 33333333333!</p> -->
      <!-- <p 
        
        defaultColor="yellow"
        [appBetterHighlight]="'pink'">Style me with better highlight directive 4444444444444!</p> -->
      <p 
        
        defaultColor="yellow"
        appBetterHighlight="pink">Style me with better highlight directive 555555555555!</p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="88">Value is 88</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>

      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
